<div class="_container d-flex flex-column">
  <h3>Your generated password:</h3>
  <form [formGroup]="passwordForm">
    <div class="input-group my-3">
      <input type="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1" value="541324" #passwordValue>
      <button class="input-group-text" (click)="changeInputType(passwordValue)">👁‍🗨</button>
      <button class="input-group-text" (click)="copyInputValue(passwordValue)">📝</button>
    </div>
    <div class="btn-group d-flex my-3" role="group" aria-label="Password options checkboxes" formGroupName="options">
      <input type="checkbox" class="btn-check" id="inputabc" autocomplete="off" formControlName="lowercase">
      <label class="btn btn-outline-primary" for="inputabc">abc</label>
    
      <input type="checkbox" class="btn-check" id="inputABC" autocomplete="off" formControlName="uppercase">
      <label class="btn btn-outline-primary" for="inputABC">ABC</label>
    
      <input type="checkbox" class="btn-check" id="input123" autocomplete="off" formControlName="digits">
      <label class="btn btn-outline-primary" for="input123">123</label>
      
      <input type="checkbox" class="btn-check" id="input!@#" autocomplete="off" formControlName="special">
      <label class="btn btn-outline-primary" for="input!@#">!@#</label>
    </div>
    <div class="my-3" role="group" aria-label="Password length range">
      <label for="passwordLength" class="form-label">Password length (<span>{{ passwordForm.controls.length.value }}</span>)</label>
      <input type="range" class="form-range" min="4" max="32" id="passwordLength" formControlName="length">
    </div>
    <div class="d-grid">
      <button class="btn btn-primary" type="button" (click)="show()" [disabled]="!passwordForm.valid">GENERATE</button>
    </div>
  </form>
</div>